*.ilk
*.obj
*.pdb
*.vsdx
Structural Design Patterns/Adapter/FlightSimulator/.vs/
Structural Design Patterns/Adapter/FlightSimulator/FlightSimulator.vcxproj.user
*.filters
Structural Design Patterns/Adapter/FlightSimulator/Debug/
*.user
Structural Design Patterns/Adapter/Abstract/.vs/
Structural Design Patterns/Adapter/Abstract/Debug/Abstract.exe
Structural Design Patterns/Adapter/Abstract/Debug/
Structural Design Patterns/Adapter/FlightSimulatorCA/Debug/
Structural Design Patterns/Adapter/Conceptual Example/.vs/
Structural Design Patterns/Adapter/Conceptual Example/Debug/Conceptual Example.exe
Structural Design Patterns/Adapter/Conceptual Example/Debug/
Structural Design Patterns/Adapter/Multiple Inheritance/Debug/
Structural Design Patterns/Adapter/TextView/.vs/
Structural Design Patterns/Facade/BasicExample/.vs/
Structural Design Patterns/Facade/BasicExample/Debug/
Structural Design Patterns/Facade/ConsoleColors/.vs/
Structural Design Patterns/Facade/ConsoleColors/Debug/
Structural Design Patterns/Facade/ConsoleFacade/Debug/
Structural Design Patterns/Facade/ConceptualExample/.vs/
Structural Design Patterns/Facade/Compiler/.vs/
Structural Design Patterns/Proxy/Basic/.vs/
Structural Design Patterns/Proxy/Basic/Debug/
Structural Design Patterns/Proxy/Virtual/.vs/
Structural Design Patterns/Proxy/Virual/.vs/
Structural Design Patterns/Proxy/Virtual/Debug/
Structural Design Patterns/Proxy/Protection/Debug/
Structural Design Patterns/Proxy/Remote/Debug/
Structural Design Patterns/Proxy/Smart/Debug/Smart.tlog/CL.write.1.tlog
Structural Design Patterns/Proxy/Smart/Debug/
Structural Design Patterns/Proxy/ConceptualExample/.vs/
Structural Design Patterns/Proxy/ConceptualExample/Debug/
Structural Design Patterns/Proxy/Graphic/.vs/
Structural Design Patterns/Decorator/Decorator/.vs/
Structural Design Patterns/Decorator/Decorator/Debug/
Structural Design Patterns/Decorator/StreamLibrary/Debug/
Structural Design Patterns/Decorator/Decorator/FunctionalDecorator/Debug/
Structural Design Patterns/Decorator/Project1/Project1.vcxproj
Structural Design Patterns/Decorator/ConceptualExample/.vs/
Structural Design Patterns/Decorator/ConceptualExample/Debug/
Structural Design Patterns/Decorator/VisualComponentDecoraotr/Debug/
Structural Design Patterns/Composite/Example/.vs/
Structural Design Patterns/Composite/Conceptual Example/.vs/
Structural Design Patterns/Composite/Conceptual Example/Debug/Conceptual Example.log
Structural Design Patterns/Composite/Conceptual Example/Debug/
Structural Design Patterns/Bridge/BridgeExamples/.vs/
Structural Design Patterns/Bridge/BridgeExamples/Debug/
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/17e5fa9441930d9/IMPLEMENTATION.ipch
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/.suo
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/Browse.VC.db
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/6b510c063c7c138c/CONCRETEIMPLEMENTATIONB.ipch
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/7b1d9b865dcca1bb/ABSTRACTION.ipch
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/9419aeed29e7127b/MAIN.ipch
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/9ee577214c725308/ABSTRACTION.ipch
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/c80d4655c3ac33bc/EXTENDEDABSTRACTION.ipch
Structural Design Patterns/Bridge/ConceptualExample/.vs/ConceptualExample/v15/ipch/AutoPCH/cfb1a8f982c2ce7/CONCRETEIMPLEMENTATIONA.ipch
Structural Design Patterns/Bridge/ConceptualExample/Debug/ConceptualExample.exe
Structural Design Patterns/Bridge/ConceptualExample/Debug/ConceptualExample.log
Structural Design Patterns/Bridge/ConceptualExample/Debug/vc141.idb
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/CL.command.1.tlog
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/CL.read.1.tlog
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/CL.write.1.tlog
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/ConceptualExample.lastbuildstate
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/link.command.1.tlog
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/link.read.1.tlog
Structural Design Patterns/Bridge/ConceptualExample/Debug/Conceptu.5A1B103E.tlog/link.write.1.tlog
Structural Design Patterns/Flyweight/Example/.vs/
Structural Design Patterns/Flyweight/Example/Debug/
Structural Design Patterns/Flyweight/ConceptualExample/Debug/
