*.ilk
*.obj
*.pdb
*.vsdx
Structural Design Patterns/Adapter/FlightSimulator/.vs/
Structural Design Patterns/Adapter/FlightSimulator/FlightSimulator.vcxproj.user
*.filters
Structural Design Patterns/Adapter/FlightSimulator/Debug/
*.user
Structural Design Patterns/Adapter/Abstract/.vs/
Structural Design Patterns/Adapter/Abstract/Debug/Abstract.exe
Structural Design Patterns/Adapter/Abstract/Debug/
Structural Design Patterns/Adapter/FlightSimulatorCA/Debug/
Structural Design Patterns/Adapter/Conceptual Example/.vs/
Structural Design Patterns/Adapter/Conceptual Example/Debug/Conceptual Example.exe
Structural Design Patterns/Adapter/Conceptual Example/Debug/
Structural Design Patterns/Adapter/Multiple Inheritance/Debug/
Structural Design Patterns/Adapter/TextView/.vs/
Structural Design Patterns/Facade/BasicExample/.vs/
Structural Design Patterns/Facade/BasicExample/Debug/
Structural Design Patterns/Facade/ConsoleColors/.vs/
Structural Design Patterns/Facade/ConsoleColors/Debug/
